include README.md
include LICENSE
recursive-include RinUI/assets *
recursive-include RinUI/components *
recursive-include RinUI/themes *
recursive-include RinUI/windows *
recursive-include RinUI/utils *
recursive-include RinUI *